.kanal img{
    width: 80px;
    height: 80px;
    margin: 137px  42.5px 15rem 42.5px;
}

.kanal{
    text-align: center;
}


@media (min-width:0) and (max-width:500px){
    .kanal img{
        width: 45px;
        height: 45px;
        margin: 137px  5px 5rem 0px;
    }
}
@media (min-width:500px) and (max-width:700px){
    .kanal img{
        width: 60px;
        height: 60px;
        margin: 137px  15px 5rem 15px;
    }
}